<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<style>
h3 {color:lightsteelblue; font-weight: 500;}
h2 {color:black; font-weight: 100;}
</style>

<ion-view view-title="{{contact.contact_name}}">
  <ion-content class="padding">
    <div class="image-cropper">
      <img ng-src="data:image/png;base64,{{contact.contact_picture}}" class="rounded">
    </div>
    <ion-list>
      <br>
      <ion-item ng-click="callnumber({{contact.contact_mobile}})">
        <h3> Handphone Number: </h3>
        <h2>{{contact.contact_mobile}}</h2>
      </ion-item>
      <ion-item>
        <h3> Home Number: </h3>
        {{contact.contact_tel_no}}
      </ion-item>
      <ion-item>
        <h3> Gender: </h3>
        {{contact.contact_gender}}
      </ion-item>
      <ion-item>
        <h3> Description: </h3>
        {{contact.contact_desc}}
      </ion-item>
      <ion-item>
        <h3> Address: </h3>
        {{contact.contact_address}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
