<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="Contact">
  <ion-content>
    <div class="row" style="padding-top: 20px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px;">
      <div class="col-33">
        <div class="image-cropper">
          <img ng-src="data:image/png;base64,{{contact.contact_picture}}" style="height: 100%; width: 100%;" class="rounded">
        </div>
      </div>
      <div class="col-44 -col-22">
        <h4>{{contact.contact_name}}</h4>
      </div>
    </div>
    <ion-list>
      <br>
      <ion-item ng-click="callnumber({{contact.contact_mobile}})">
        <small>mobile</small>
        <p>{{contact.contact_mobile}}</p>
      </ion-item>
      <ion-item>
        <small>home</small>
        <p>{{contact.contact_tel_no}}</p>
      </ion-item>
      <ion-item>
        <small>description</small>
        <p>{{contact.contact_desc}}</p>
      </ion-item>
      <ion-item>
        <small>address</small>
        <p>{{contact.contact_address}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
