<ion-view view-title="Travis">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/Sunny.png">
        <h2>Weather now is SUNNY!</h2>
        <p>Enjoy your day out in the sun :)</p>
      </div>
      <div class="item item-image">
        <img src="img/beautiful_sunny_day.jpg">
      </div>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-plus-round"></i>
        More details!
      </a>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="img/pig.jpg">
        <h2>Nearest animal is a pig!</h2>
        <p>Kill the pig for some delicious pork :)</p>
      </div>
      <div class="item item-image">
        <img src="img/google_maps.jpg">
      </div>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-plus-round"></i>
        More details!
      </a>
    </div>
  </ion-content>
</ion-view>
